@use "./variables.scss" as *;

// HEADER

.headerContainer {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    > .logoContainer {
        margin: 0 100px 0 20px;
        cursor: pointer;
    }

    > .navContainer {
        height: 100%;
        display: flex;
        align-items: center;

        > nav {
            height: 100%;
        }

        > nav ul {
            display: flex;
            height: 100%;
            flex-direction: row;
            list-style: none;

            li {
                display: flex;
                align-items: center;
                height: 100%;
                font-weight: bold;
                margin: 0 20px;
                cursor: pointer;
                position: relative;

                &:hover {
                    color: $navHoverColor;

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 5px;
                        background-color: $navHoverColor;
                    }
                }
            }
        }
    }
}

// MAIN

.mainContainer {
    width: 100wv;

    > .topContent {
        background-color: $topContColor;
        display: flex;
        align-items: center;
        width: 100%;
        height: 150px;

        h2 {
            color: white;
            margin: 0 50px;
        }
    }

    > .midContent {
        background-color: $midContColor;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 250px;

        > .midContainer {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            > .midLink {
                display: flex;
                align-items: center;
                cursor: pointer;

                img {
                    height: 60px;
                    margin-left: 60px;
                }

                span {
                    color: white;
                    margin-left: 10px;
                }
            }
        }
    }

    > .botContent {
        background-image: url("../src/assets/img/footer-bg.jpg");
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        position: relative;

        > .dc-logo {
            position: absolute;
            bottom: 0;
            right: 5%;
            width: 50%;
            height: 100%;
            background-image: url("../src/assets/img/dc-logo-bg.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        > .linksCol {
            height: 90%;
            width: 200px;
            color: gray;
            margin: 0 30px;

            h3 {
                margin: 20px 0;
                color: white;
                font-size: 1.7rem;
            }

            p {
                font-weight: lighter;
                margin: 10px 0;
                cursor: pointer;
            }
        }
    }
}

// FOOTER

.footerContainer {
    width: 100wv;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $footerColor;

    > .signUp {
        button {
            background: none;
            border: 4px solid $midContColor;
            padding: 20px;
            font-size: 1.5rem;
            color: white;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: rgba($color: #ffffff, $alpha: 0.2);
            }
        }
    }

    > .socials {
        display: flex;
        align-items: center;

        h2 {
            margin-right: 30px;
            color: $midContColor;
        }

        > .socialsLogos {
            img {
                margin: 0 10px;
                cursor: pointer;
            }
        }
    }
}
